<h1>Log</h1>
<div>
    <% @practises.each do |practise| %>
        <h3><%= link_to practise.date.strftime("%A %B %d"), practise %>
        <%= link_to practise_path(practise.id) , method: :delete , data: {confirm: "Are you sure ?"} do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
        <%  end %>
        </h3>
    <% end %>    
</div>

